/* REMINDER! All of your elements must use your unique namespace '.genled' at the start to avoid leaking */

/* Component Styles */
.chartAccounts .component-container {
  display: flex;
  justify-content: space-between; 
  align-items: end;
  gap: 20px; 
  margin-bottom: 1rem;
}

/* Button Styles */
.chartAccounts .buttons-container {
  display: flex;
  justify-content: center;
  gap: 30px; 
}

/* Search and Drop down */
.chartAccounts .select-search-container {
  display: flex;
  justify-content: center;
  gap: 30px; 
}

/* When Adding an Account */
.account-type-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.remove-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: red;
  transition: .3s;
}

.remove-btn:hover {
  color: darkred;
  transform: scale(1.3);
}

