thead {
    width: 100%;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 30rem;
}

/* Scrollbar Styling */
.table-container::-webkit-scrollbar {
    width: 10px;
    /* Width of vertical scrollbar */
    height: 10px;
    /* Height of horizontal scrollbar */
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Light gray background */
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #5a9ecf;
    /* Match the table header */
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #4a8bb3;
    /* Darker shade on hover */
}

/* For Firefox */
.table-container {
    scrollbar-width: thin;
    /* Makes the scrollbar thinner */
    scrollbar-color: #5a9ecf #f1f1f1;
    /* Thumb color | Track color */
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #5a9ecf;
    color: white;
}

td input[type="checkbox"] {
    background-color: white;
    transform: scale(1.2);
}

tbody tr:hover {
    background-color: #f5f5f5;
}